@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* body{ */
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
 
/* .style1 ---------style1 */
body {
    font-family: 'Open Sans', sans-serif;
}
.style1{
    background-color: #f9f6f8;
}

/* .problem ----------problem */
.problem{
    color: #fd0505;
    
}

/* nav -------nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0  20px;
}
/* .style2------STYLE 2 */
.style2{
color: #aff904;
   
text-shadow:6px 2px red;
font-size: 80px;
font-weight: 700;
text-align: left;
}
.style2a{
    color: #aff904;
   text-align:right ;
    text-shadow:6px 2px red;
    font-size: 80px;
    font-weight: 700; 
}

/* NAV UL --+LI +---A  */
 nav ul{
    display: flex;
    align-items: center;
 }
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(210, 205, 205);
    font-size: larger;
     
}

/* STYLE 3------- */
.style3{
    width:100px;
    height:30px;
    font-size: large;
        border-radius: 5px;
        color: rgb(247, 7, 27);
        background:rgb(212, 255, 0);
}
/* ALL-STYLE ------ */
.all-style{
    
    background-color: rgb(14, 24, 53);
    background-position: bottom right;
    background-size: 250px;
    padding: 0 10%;
    border-radius: 50px 5px;
    }
    /* STYLE 4--------- */
 .style4{
     display: flex;
     text-align: center;
     text-shadow: #2904fe;
     color: rgb(255, 0, 0);
 }
 /* STYLE 5--------- */
  .style5{

  }

  /* STYLE 6-------- */
 .style6{
    width: 100px;
    font-size: 15px;
height: 30px;
 
border-radius: 7px;
background:red;
color: rgb(36, 35, 35);
margin-left: 20px;
 }
 .style6a{
    font-size: 15px;
    height: 30px;
    border-radius: 7px;
background: red;
width: 100px;

color: #0410f9;
 }

 .style6b{
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
background: red;
color: blue;
width: 100px;
 }
 .style6c{
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
background: red;
color: #0410f9;
width: 100px;
 }

 /* BUTTON STYLE ----- */
 p a{
    text-decoration: none;
    color: #c4fe04;
 }


 .style7{
    font-size: 45px;
    color: #fd0404;
    margin-bottom: 0px;
    text-shadow:3px 1px #aff904;
    text-align: left;
 }
 .style8{
    text-align: left;
    font-size: 70px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
text-shadow: 4px 1px #aff904;
 }
 .banner-dis{

 }
 .content{
    max-width: 500px;
 }


.about{
    padding: 10%;
    border-radius: 50px 5px;
    background: rgb(23, 61, 75);
    margin: 30px 10px;
}
.section-title{
  color: #cbb6b6;
  text-shadow: 2px 1px #aff904;
 text-align:center;
font-size: 35px;
font-weight: 700;
margin: 35px 48px;
}
.section-dis{
    color: #cbb6b6;
     text-shadow:1px 1px #aff904;
    text-align: center;
    font-size: 20px;

}
 
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    color: rgb(108, 108, 214);
}
.about-info{
    text-align: center;
    
} 
.head1{
    background-color: #9fb7bd;
}
.dying2{
    padding: 20px 10px;
    border-radius: 5px 50px;
    background: rgb(225, 225, 225);
    margin: 30px 200px;
     
}
.dyeing1{
    background-color: rgb(76, 112, 76);
    color: #e8f804;
    text-shadow: 3px 4px #463f57;
    
    padding: 10px;
    text-align: center;
     box-shadow: 10px 10px rgb(92, 88, 91);
     border-radius: 0px 20px;
}
.dying{
    background-color: rgb(213, 208, 245);
    }
  body img{
    padding: 200px 100px;
    border-radius: 50px 5px;
    margin: 100px 30px;
    }
    .dying2{
        box-shadow: 10px 10px #43393b;
        text-align: center;
        border-color: ;
        background-color: #88a8ec;
        border-radius: 50px 0px;
        margin: 30px;
        }
        .dying3{
            box-shadow: 10px 10px #43393b;
            text-align: center;
            border-color: ;
            background-color: #88a8ec;
            border-radius: 50px 0px;
            margin: 30px;
            }
            .dying4{
                box-shadow: 10px 10px #43393b;
                text-align: center;
                border-color: ;
                background-color: #88a8ec;
                border-radius: 50px 0px;
                margin: 30px;
                }
                .dying5{
                    box-shadow: 10px 10px #43393b;
                    text-align: center;
                    border-color: ;
                    background-color: #88a8ec;
                    border-radius: 50px 0px;
                    margin: 30px;
                    }
                    .dying6{
                        box-shadow: 10px 10px #43393b;
                        text-align: center;
                        border-color: ;
                        background-color: #88a8ec;
                        border-radius: 50px 0px;
                        margin: 30px;
         
                   }
                   .dying7{
                    box-shadow: 10px 10px #43393b;
                    text-align: center;
                    border-color: ;
                    background-color: #88a8ec;
                    border-radius: 50px 0px;
                    margin: 30px;
                    }
     