/* .style1 ---------style1 */
body {
    font-family: 'Open Sans', sans-serif;
}
.style1{
    background-color: #f9f6f8;
}

/* .problem ----------problem */
.problem{
    color: #fd0505;
    
}

/* nav -------nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0  20px;
}
/* .style2------STYLE 2 */
.style2{
color: #aff904;
   
text-shadow:6px 2px red;
font-size: 80px;
font-weight: 700;
text-align: left;
}
.style2a{
    color: #aff904;
   text-align:right ;
    text-shadow:6px 2px red;
    font-size: 80px;
    font-weight: 700; 
}

/* NAV UL --+LI +---A  */
 nav ul{
    display: flex;
    align-items: center;
 }
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(210, 205, 205);
    font-size: larger;
     
}

/* STYLE 3------- */
.style3{
    width:100px;
    height:30px;
    font-size: large;
        border-radius: 5px;
        color: rgb(247, 7, 27);
        background:rgb(212, 255, 0);
}
/* ALL-STYLE ------ */
.all-style{
    
    background-color: rgb(14, 24, 53);
    background-position: bottom right;
    background-size: 250px;
    padding: 0 10%;
    border-radius: 50px 5px;
    }
    /* STYLE 4--------- */
 .style4{
     display: flex;
     text-align: center;
     text-shadow: #2904fe;
     color: rgb(255, 0, 0);
 }
 /* STYLE 5--------- */
  .style5{

  }

  /* STYLE 6-------- */
 .style6{
    width: 100px;
    font-size: 15px;
height: 30px;
 
border-radius: 7px;
background:red;
color: rgb(36, 35, 35);
margin-left: 20px;
 }
 .style6a{
    font-size: 15px;
    height: 30px;
    border-radius: 7px;
background: red;
width: 100px;

color: #0410f9;
 }

 .style6b{
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
background: red;
color: blue;
width: 100px;
 }
 .style6c{
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
background: red;
color: #0410f9;
width: 100px;
 }

 /* BUTTON STYLE ----- */
 p a{
    text-decoration: none;
    color: #c4fe04;
 }


 .style7{
    font-size: 45px;
    color: #fd0404;
    margin-bottom: 0px;
    text-shadow:3px 1px #aff904;
    text-align: left;
 }
 .style8{
    text-align: left;
    font-size: 70px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
text-shadow: 4px 1px #aff904;
 }
 .banner-dis{

 }
 .content{
    max-width: 500px;
 }


.about{
    padding: 10%;
    border-radius: 50px 5px;
    background: rgb(23, 61, 75);
    margin: 30px 10px;
}
.section-title{
  color: #cbb6b6;
  text-shadow: 2px 1px #aff904;
 text-align:center;
font-size: 35px;
font-weight: 700;
margin: 35px 48px;
}
.section-dis{
    color: #cbb6b6;
     text-shadow:1px 1px #aff904;
    text-align: center;
    font-size: 20px;

}
 
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    color: rgb(108, 108, 214);
}
.about-info{
    text-align: center;
    
} 
.head1{
    background-color: #9fb7bd;
}
.dying2{
    padding: 20px 10px;
    border-radius: 5px 50px;
    background: rgb(225, 225, 225);
    margin: 30px 200px;
     
}
.dyeing1{
    background-color: rgb(76, 112, 76);
    color: #e8f804;
    text-shadow: 3px 4px #463f57;
    
    padding: 10px;
    text-align: center;
     box-shadow: 10px 10px rgb(92, 88, 91);
     border-radius: 0px 20px;
}
.dying{
    background-color: rgb(213, 208, 245);
    }
  body img{
    padding: 200px 100px;
    border-radius: 50px 5px;
    margin: 100px 30px;
    }
    .dying2{
        box-shadow: 10px 10px #43393b;
        text-align: center;
        border-color: ;
        background-color: #88a8ec;
        border-radius: 50px 0px;
        margin: 30px;
        }
        .dying3{
            box-shadow: 10px 10px #43393b;
            text-align: center;
            border-color: ;
            background-color: #88a8ec;
            border-radius: 50px 0px;
            margin: 30px;
            }
            .dying4{
                box-shadow: 10px 10px #43393b;
                text-align: center;
                border-color: ;
                background-color: #88a8ec;
                border-radius: 50px 0px;
                margin: 30px;
                }
                .dying5{
                    box-shadow: 10px 10px #43393b;
                    text-align: center;
                    border-color: ;
                    background-color: #88a8ec;
                    border-radius: 50px 0px;
                    margin: 30px;
                    }
                    .dying6{
                        box-shadow: 10px 10px #43393b;
                        text-align: center;
                        border-color: ;
                        background-color: #88a8ec;
                        border-radius: 50px 0px;
                        margin: 30px;
         
                   }
                   .dying7{
                    box-shadow: 10px 10px #43393b;
                    text-align: center;
                    border-color: ;
                    background-color: #88a8ec;
                    border-radius: 50px 0px;
                    margin: 30px;
                    }
     